
<<<<<<< HEAD
<form action="/figures" method="POST">
  <lable>Name</label>
    <input type="text" id="figure_name" name="figure[name]"><br></br>

  <label><h4>Titles</h4></label>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>"><br>

    <% end %>
 <label><h4>Create New Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">


  <label><h4>Landmarks</h4></label>
    <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
      <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>

    <% end %>
 <label><h4>Create New Landmark:</h4></label>
 <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">
  <input type="submit" value="Create New Figure">
</form> 


=======
<form action='/figures' method='POST'>
  Name <input type='text' name='figure[name]' id='figure_name'> 
  <h3>Titles</h3>
    <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%= "title_#{title.id}" %>" value="<%= title.id %>"><%= title.name %><br></input>
    <% end %>
  <h3> Create New Title: </h3>
    <input type='text' name='title[name]' id='new_title'>
  <h3>Landmarks</h3>
    <% @landmarks.each do |landmark| %>
   <input type="checkbox" name="figure[landmark_ids][]" id="<%= "landmark_#{landmark.id}" %>" value="<%= landmark.id %>"><%= landmark.name %><br></input> 
   <% end %>
 <h3>Create New Landmark:</h3>
   Name: <input type='text' name='new_landmark' id='landmark[name]'>
   Year: <input type='text' name='landmark[year_completed]'> 
   <input type='submit' value='Create New Figure'> 
</form>
>>>>>>> c822646ee7002eca2e943de29bc6c3fe18510ca6
